@media only screen and (max-width: 600px) {

  .dropdown {
    position: absolute;
    bottom: -110px;
    left:-89px;    
  }
}
@media only screen and (min-width: 600px) {

  .dropdown {
    position: absolute;
    bottom: -110px;
    left:-89px;    
  }
}

